.App-header {
    background-color:black;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}


.tituloApp {
    text-align: left;
    width: 50%;
}

.Menu-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 10px;
}

.Nav-menu{
    margin: 10px;
}

.buscador:hover{
    cursor: pointer;
}

