.cards{
    width: 24%;
    border-radius: 10px;
    border-color: black;
    outline-width:2px;
    outline-style: solid;
    outline-color: black;
    background-color: white;
    margin-bottom: 10px;
    
}

.cards:hover{
    
}

.trash:hover{
    cursor: pointer;
}

.flecha:hover{
    cursor: pointer;
}

.more{
    color: blue;
}

.more:hover{
cursor: pointer;
}

.mostrar{
    display: block;
}

.nomostrar{
    display: none;
}