.cards{
    width: 24%;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    
}

.cards:hover{
    box-shadow: 5px 10px 18px  #3b3a3a;
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
}

.trash{
    margin: 10px;
}
.trash:hover{
    cursor: pointer;
    color: red;
}

.flecha{
    margin: 5px;
}
.flecha:hover{
    cursor: pointer;
    color: blue;
}

.more{
    color: blue;
}

.more:hover{
cursor: pointer;
text-decoration: underline;
}

.mostrar{
    display: block;
}

.nomostrar{
    display: none;
}

.Filas{
    display: flex;
    flex-direction: row;
}

.Columnas{
    display: flex;
    flex-direction: column;
}